{% extends "base.html" %}

{% block body %}
<p>
This is the settings page for your
<nobr><a href="http://openid.net/">
<img src="/static/openid-icon.png" />OpenID</a></nobr> address.
<span class="url">{{ request_url_without_path }}/{{ user.nickname }}</span> is
your OpenID URL.
</p>

<div class="top">
  <div class="left"></div>
  <div class="right"></div>
  Settings
</div>

<table class="logins">
{% for login in logins %}
  <tr class="{{ login.kind }}">
    <td class="kind">
      <img class="icon" src="/static/{{ login.kind }}.png"
           alt="{{ login.kind }}" title="{{ login.kind }}" />
    </td>
    <td class="relying-party">
      {{ login.relying_party }}
    </td>
    <td class="time">
      {{ login.time|date:"M j \a\t P" }}
    </td>
  </tr>
{% endfor %}
{% if not logins %}
  <tr><td colspan="3" class="light" align="center">
    {% if user %}
      You haven't used OpenID yet. Try using it to log into
      <a href="http://stackoverflow.com/users/login">Stack Overflow</a>!
    {% else %}
      Please <a href="{{ login_url|escape }}">log in</a> to see your recent
      OpenID requests.
    {% endif %}
  </td></tr>
{% endif %}
</table>

<div class="bottom">

<div class="left"></div>
<div class="right"></div>

</div>

{% endblock %}
